.main {
	display: flex;
	justify-content: 'center';
	height: '100%';
	font-family: 'Robot', sans-serif;
	margin: 0;
	text-align: center;
	width: '100%';
}
.box {
	/* background: snapshot.isDraggingOver ? 'lightblue' : 'lightgrey'; */
	padding: 8px;
	width: 150px;
	min-height: 50px;
}
.bg-color {
	background-color: aliceblue;
}
.body1 {
	/* display: flex; */
	justify-content: center;
	height: 100%;
	margin: 56px;
}
/* .vertical {
	margin: 160;
} */
.boxes {
	padding: 26px;
	margin: 0 0 8px 0;
	min-height: 40px;
	color: white;
	background-color: rgb(57, 126, 120);
}
